.slds-box {
    padding: 0; 
    border: 1px solid #d8dde6;
    background-color: #ffffff;

}

.custom-card {
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    position: relative;
}

.blue-risk-bar {
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 0;
    width: 4px;
    background-color: #4a90e2;
    border-radius: 0.25rem 0 0 0.25rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.investment-header {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.investment-type {
    font-weight: bold;
    color: #333;
}

.class-info {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.class-display {
    display: flex;
    align-items: center;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.class-description {
    color: #555;
}

.investment-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    color: #666;
}

.investment-info div {
    margin-top: 0.25rem;
}

.action-buttons { 
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%; /* Garante que o container dos botões ocupe toda a largura disponível */
    margin-top: 0.5rem; /* Ajuste de margem superior */
}


.borderButton {
    border-radius: 20px;
}
.cardbox { 
    width:100%;
}

.clickable-card {
    cursor: pointer;
    padding: 4rem; 
    border-radius: 0.25rem;
    transition: box-shadow 0.2s; 
}

.clickable-card:hover { 
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
    .card-container {
        display: block;
    }

    .investment-header {
        text-align: center;
    }

    .investment-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .slds-text-align_right {
        text-align: left !important;
    }

    .action-buttons {
        justify-content: flex-end;
        text-align: right;
    }
}

@media (min-width: 1025px) {
    .card-container {
        display: flex;
        justify-content: space-between;
    }
}

.lightning-card {
    margin-bottom: 1rem;
} 

@media (min-width: 64em) {
    .slds-large-size_3-of-12, .slds-large-size--3-of-12 {
        width: 33%;
    }
}

.slds-modal__container {
    width: 25rem;
    max-width: 100%;
}

.slds-modal__content {
    padding: 1rem;
}

.slds-modal__footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
.slds-box {
    padding: 1rem;
    border: 1px solid #d8dde6;
    background-color: #ffffff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.slds-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.redColor {
    color:#cc092f; 
}

.clickable-card {
    border-radius: 0.25rem;
    transition: box-shadow 0.2s;
}

.clickable-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.slds-box {
    padding: 0;
    border: 1px solid #d8dde6;
    background-color: #ffffff;
}

.custom-card {
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    position: relative;
}

.blue-risk-bar {
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 0;
    width: 4px;
    background-color: #4a90e2;
    border-radius: 0.25rem 0 0 0.25rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.investment-header {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.investment-type {
    font-weight: bold;
    color: #333;
    font-size: 90%; 
}

.class-info {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.class-display {
    display: flex;
    align-items: center;
}

.buttonEnd {
    height:20%;   
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.class-description {
    color: #555;
}

.investment-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    color: #666;
}

.investment-info div {
    margin-top: 0.25rem;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.borderButton {
    border-radius: 20px;
}

.clickable-card {
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.25rem;
    transition: box-shadow 1.0s;  
}

.clickable-card:hover {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}
 
.redColor {
    color:#cc092f;
}

.slds-popover__footer {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    border-top: 1px solid #d8dde6;
}
.searchwidth {
    margin-left: 40%;
    width: 130%;
} 
.buttonIconwidth{
    width:90%; 
}

.slds-box {
    padding: 1rem;
    border: 1px solid #d8dde6;
    background-color: #ffffff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.slds-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.redColor {
    color: #cc092f;
}

.clickable-card {
    border-radius: 0.25rem;
    transition: box-shadow 0.2s;
}

.clickable-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.full-width-card {
    width: 100%;
}

.full-width-box {
    width: 100%;
    box-sizing: border-box;
}

.slds-popover__footer {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    border-top: 1px solid #d8dde6;
}

.search-container {
    margin-left: 50%;   
    margin-right: auto;
}

.search-container .slds-col {
    padding-right: 0.5rem;
}
.marginleft {
    margin-left:55%;    
}
.marginlefttop{
    margin-left:90%;         
    margin-top:-9%;   
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
    }

    .slds-popover {
        left: 0 !important;
        right: 0 !important;
    }
}

.action-buttons { 
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    margin-top: 3.5rem;  
}

/* Ajuste para o tamanho da fonte */
.small-font {   
    font-size: 11px; /* Define o tamanho da fonte para 15px */
}
.slds-gutters {
    margin-right: calc(-1* var(--lwc-spacingSmall, 0.75rem));
    margin-left: calc(-1* var(--lwc-spacingSmall, 0.75rem));
    MARGIN-TOP: calc(-1* var(--lwc-spacingSmall, 0.75rem));
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) { 
    .marginleft {
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }
    .marginlefttop{
        margin-left:90%;         
        margin-top:-9%;   
    } 
}