.fontSize {
    font-size: 120%;
    font-family: var(--lwc-fontFamily, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
}
 
 

:host {
    display: block;
    padding: 1rem;
}

.header h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.header p {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 1rem;
}

.highlight {
    color: #0176d3;
}

.section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.left-column,
.right-column {
    width: 48%;
}

.field {
    margin-bottom: 1rem;
}

.field label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input-inline {
    border: none;
    border-bottom: 1px solid #d8dde6;
    width: 100%;
    padding: 0.25rem 0;
    font-size: 13px;
    color: #333;
    background-color: transparent;
    transition: border-color 0.3s ease;
    margin-top: 0px;
}

.input-inline:focus {
    outline: none;
    border-bottom: 1px solid #0176d3;
}

.input-inline:disabled {
    color: #6c757d;
    border-bottom: 1px solid #d8dde6;
    background-color: transparent;
}

.error {
    color: red;
    font-size: 0.75rem;
}

.hasError {
    border-bottom: 1px solid red;
}

.hasError .slds-icon {
    margin-left: 0.5rem;
    color: red;
}

.input-inline.hasError {
    border-bottom: 1px solid red;
    padding-right: 20px;
    background: url('/assets/images/exclamation_icon.png') no-repeat right;
    background-size: 16px;
}

.consultar-button {
    background-color: #0176d3;
    border-color: #0176d3;
    color: #fff;
}
  
.positionCircle {  
    margin-left: 1rem; /* Ajuste conforme necessário */
    margin-top: 0; /* Remova qualquer margem superior para alinhamento vertical */
    display: inline-block; /* Garante que o círculo permaneça na mesma linha que o texto */
    vertical-align: middle; /* Alinha verticalmente ao meio do texto */
}

:host { 
    display: block;
    padding: 1rem;
} 

/* Fundo cinza claro fora do modal */
.slds-backdrop {
    background-color: rgba(0, 0, 0, 0.1); /* Ajuste para um fundo cinza claro */
}

/* Alinhar o botão de fechar no canto superior direito */
.slds-modal__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
}
.iconFilterClass {  
    margin-top: 150%; 
}
@media (min-width: 48em) {  
    .slds-col {  
        width: 48%; /* Cada coluna ocupará aproximadamente 48% para manter espaço entre elas */
        margin-bottom: 1rem; /* Espaço entre as linhas */
    }
}

@media (min-width: 48em) { 
    .slds-modal_large .slds-modal__container, .slds-modal--large .slds-modal__container {
        width: 70%;
        max-width: none;
        min-width: 40rem;
    }
}

@media (max-width: 47.99em) {
    /* Estilo para dispositivos móveis */
    .slds-col {
        width: 100%; /* Colunas ocupam 100% da largura em dispositivos móveis */
        margin-bottom: 1rem; /* Espaço entre as linhas */
    }
}

/* Alinhamento das labels e inputs */
.slds-form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: -5px;
    margin-top: -5px; /* Alinhar labels e inputs em coluna */
}

.slds-form-element__label {
    margin-bottom: 0.5rem; /* Espaço entre o label e o input */
    font-size: 13px;
    margin-top: 8px;   
}

.resultadoFinanceiro{ 
    margin-right:5%; 
}
.fundoModal {    
    background-color: rgb(211 211 211 / 50%);
}
.slds-text-heading_small {
    font-size: 13px;
    line-height: var(--lwc-lineHeightHeading, 1.25);
    margin-top: -17px;
    margin-bottom: -17px;
}
.slds-box_x-small {
    padding: var(--lwc-spacingXSmall, 0.5rem);
    margin-top: -5px;
}
.slds-box {
    font-size: 12px;
}
.slds-var-m-bottom_medium {
    margin-bottom: var(--lwc-varSpacingVerticalMedium, 1rem);
    margin-top: -10px;
    font-size: 12.5px;
}
.slds-var-m-top_small {
    margin-top: var(--lwc-varSpacingVerticalSmall, 0.75rem);
    margin-bottom: -20px;
}
.slds-modal__title {
    font-weight: var(--slds-c-modal-heading-font-weight, var(--sds-c-modal-heading-font-weight));
    font-size: 18px;
    line-height: var(--slds-c-modal-heading-line-height, var(--sds-c-modal-heading-line-height, var(--lwc-lineHeightHeading, 1.25)));
}
.modalContainerConfirmar {
    /*height: 98vh !important;
    padding: 0;*/
}
.slds-form-element__control {
    margin-top: -12px;
}
.diasCarencia {
    margin-top: -5px;
    margin-bottom: 6px;
}
/*.slds-modal {
    position: fixed;
    top: -41px;
    height: 644px;
}
.slds-modal__content {
    padding: 1% !important;
    margin: 0;
}*/